<!-- 
<form [formGroup]="signUpForm" (ngSubmit)="AddDrive()">
  <div class="row">
      <div class="col-md-6">
        <div class="example-full-width">
            <input formControlName="company"  placeholder="Company">
          </div>
      </div>
     
  </div>
  <div class="row">
      <div class="col-md-3">
        <div class="example-full-width">
          <input  formControlName="drivedate" placeholder="Drive Date" type="date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="example-full-width">
          <input  formControlName="jobprofile" placeholder="Job Profile" type="text">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="example-full-width">
          <input  formControlName="location" placeholder="Location" type="text">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <div class="example-full-width">
          <input  formControlName="ssc" placeholder="SSC" type="number">
        </div>
      </div>
      <div class="col-md-4">
        <div class="example-full-width">
          <input  formControlName="hsc" placeholder="HSC" type="number">
        </div>
      </div>
      <div class="col-md-4">
        <div class="example-full-width">
          <input  formControlName="be" placeholder="BE" type="number">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="example-full-width">
          <textarea  formControlName="process" placeholder="Process" type="textbox"></textarea>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
        <div class="example-full-width">
          <input  formControlName="lastappdate" placeholder="Last App Date" type="date">
        </div>
      </div>
  </div>
  
  <button [disabled]="!driveForm.valid" type="submit" class="btn btn-danger pull-right">Save</button>
  <button (click)="showLogin=true" class="btn btn-danger pull-right">Cancel</button>
  <div class="clearfix"></div>
</form> -->