
<div class="row myleft">
    <!-- <div class="column" style="text-align: center"> -->
      <h1 style="text-align: center">Global Tnp</h1>
      
      <div class="back">


          <div class="div-center">
        
        
            <div *ngIf="showLogin" class="content">
        
        
              <h3>Login</h3>
              <!-- <hr /> -->
               <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                  
                  <input type="text" class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="form-group">
                  
                  <input type="password" class="form-control"  formControlName="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info">Login</button>
                <button (click)="showLogin=false" type="button" class="btn btn-info">Student Signup</button>
                <button (click)="showLogin=false;showCompany=true" class="btn btn-info">Company Signup</button>
                <!-- <hr /> -->
                
                <!-- <button type="button" class="btn btn-link">Reset Password</button> -->
        
              </form>
        
            </div> 

            <div *ngIf="!showLogin && !showCompany" class="content">
        
        
              <h3>Student Sign Up</h3>
             
              <hr />
              <form [formGroup]="signUpForm" (ngSubmit)="register()">
                <div class="form-group">
                  <!-- <label for="exampleInputEmail1">Username</label> -->
                  <input type="text" class="form-control" formControlName="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputEmail1">Username</label> -->
                  <input type="text" class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputPassword1">Password</label> -->
                  <input type="password" class="form-control"  formControlName="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputPassword1">Password</label> -->
                  <input type="number" class="form-control"  formControlName="ssc" placeholder="ssc">
                  <input type="number" class="form-control"  formControlName="hsc" placeholder="hsc">
                  <input type="number" class="form-control"  formControlName="be" placeholder="be">
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputEmail1">Username</label> -->
                  <input type="text" class="form-control" formControlName="branch" placeholder="branch">
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputEmail1">Username</label> -->
                  <input type="text" class="form-control" formControlName="college" placeholder="College">
                </div>
                <button [disabled]="!signUpForm.valid" type="submit" class="btn btn-info">Register</button>
                <button (click)="showLogin=true" type="button" class="btn btn-info">Cancel</button>
                <hr />
                
                <!-- <button type="button" class="btn btn-link">Reset Password</button> -->
        
              </form>
        
            </div>

            <div *ngIf="showCompany" class="content">
        
        
              <h3>Company Sign Up</h3>
              <!-- <hr /> -->
               <form [formGroup]="companyForm" (ngSubmit)="company()">
                  <div class="form-group">
                  
                      <input type="text" class="form-control" formControlName="name" placeholder="Name">
                    </div>
                <div class="form-group">
                  
                  <input type="text" class="form-control" formControlName="email" placeholder="Email">
                </div>
                <div class="form-group">
                  
                  <input type="password" class="form-control"  formControlName="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info">Sign Up</button>
                <button (click)="showCompany=false;showLogin=true" type="button" class="btn btn-info">Cancel</button>
                <!-- <hr /> -->
                
                <!-- <button type="button" class="btn btn-link">Reset Password</button> -->
        
              </form>
        
            </div> 
        
        </div>
            
          </div>

    <!-- <div class="column" style="background-color:#bbb;">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div> -->
  </div>